apiVersion: v1
kind: Service
metadata:
  name: chat-app-service
spec:
  type: NodePort
  selector:
    app: my-chat-app
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080 
      protocol: TCP
