apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-deployment
  labels:
    app: redis-db 
spec:
  replicas: 1 
  selector:
    matchLabels:
      app: redis-db 
  template:
    metadata:
      labels:
        app: redis-db
    spec:
      containers:
        - name: redis
          image: redis:latest
          ports:
            - containerPort: 6379 